<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imf.mapper.MfTeacherMapper" >
  <resultMap id="BaseResultMap" type="com.imf.pojo.MfTeacher" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="teach_id" property="teachId" jdbcType="VARCHAR" />
    <result column="teach_name" property="teachName" jdbcType="VARCHAR" />
    <result column="teach_gender" property="teachGender" jdbcType="BIT" />
    <result column="teach_img_url" property="teachImgUrl" jdbcType="VARCHAR" />
    <result column="teach_age" property="teachAge" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
    <result column="teach_state" property="teachState" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, teach_id, teach_name, teach_gender, teach_img_url, teach_age, create_time, edit_time, 
    teach_state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.imf.pojo.MfTeacherExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mf_teacher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mf_teacher
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mf_teacher
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.imf.pojo.MfTeacherExample" >
    delete from mf_teacher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.imf.pojo.MfTeacher" >
    insert into mf_teacher (id, teach_id, teach_name, 
      teach_gender, teach_img_url, teach_age, 
      create_time, edit_time, teach_state
      )
    values (#{id,jdbcType=INTEGER}, #{teachId,jdbcType=VARCHAR}, #{teachName,jdbcType=VARCHAR}, 
      #{teachGender,jdbcType=BIT}, #{teachImgUrl,jdbcType=VARCHAR}, #{teachAge,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{editTime,jdbcType=TIMESTAMP}, #{teachState,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.imf.pojo.MfTeacher" >
    insert into mf_teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="teachId != null" >
        teach_id,
      </if>
      <if test="teachName != null" >
        teach_name,
      </if>
      <if test="teachGender != null" >
        teach_gender,
      </if>
      <if test="teachImgUrl != null" >
        teach_img_url,
      </if>
      <if test="teachAge != null" >
        teach_age,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="editTime != null" >
        edit_time,
      </if>
      <if test="teachState != null" >
        teach_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="teachId != null" >
        #{teachId,jdbcType=VARCHAR},
      </if>
      <if test="teachName != null" >
        #{teachName,jdbcType=VARCHAR},
      </if>
      <if test="teachGender != null" >
        #{teachGender,jdbcType=BIT},
      </if>
      <if test="teachImgUrl != null" >
        #{teachImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="teachAge != null" >
        #{teachAge,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="teachState != null" >
        #{teachState,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.imf.pojo.MfTeacherExample" resultType="java.lang.Integer" >
    select count(*) from mf_teacher
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mf_teacher
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.teachId != null" >
        teach_id = #{record.teachId,jdbcType=VARCHAR},
      </if>
      <if test="record.teachName != null" >
        teach_name = #{record.teachName,jdbcType=VARCHAR},
      </if>
      <if test="record.teachGender != null" >
        teach_gender = #{record.teachGender,jdbcType=BIT},
      </if>
      <if test="record.teachImgUrl != null" >
        teach_img_url = #{record.teachImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.teachAge != null" >
        teach_age = #{record.teachAge,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.editTime != null" >
        edit_time = #{record.editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.teachState != null" >
        teach_state = #{record.teachState,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mf_teacher
    set id = #{record.id,jdbcType=INTEGER},
      teach_id = #{record.teachId,jdbcType=VARCHAR},
      teach_name = #{record.teachName,jdbcType=VARCHAR},
      teach_gender = #{record.teachGender,jdbcType=BIT},
      teach_img_url = #{record.teachImgUrl,jdbcType=VARCHAR},
      teach_age = #{record.teachAge,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      edit_time = #{record.editTime,jdbcType=TIMESTAMP},
      teach_state = #{record.teachState,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.imf.pojo.MfTeacher" >
    update mf_teacher
    <set >
      <if test="teachId != null" >
        teach_id = #{teachId,jdbcType=VARCHAR},
      </if>
      <if test="teachName != null" >
        teach_name = #{teachName,jdbcType=VARCHAR},
      </if>
      <if test="teachGender != null" >
        teach_gender = #{teachGender,jdbcType=BIT},
      </if>
      <if test="teachImgUrl != null" >
        teach_img_url = #{teachImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="teachAge != null" >
        teach_age = #{teachAge,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editTime != null" >
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="teachState != null" >
        teach_state = #{teachState,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.imf.pojo.MfTeacher" >
    update mf_teacher
    set teach_id = #{teachId,jdbcType=VARCHAR},
      teach_name = #{teachName,jdbcType=VARCHAR},
      teach_gender = #{teachGender,jdbcType=BIT},
      teach_img_url = #{teachImgUrl,jdbcType=VARCHAR},
      teach_age = #{teachAge,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      teach_state = #{teachState,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>