<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imooc.mapper.WorkRecordMapper" >
  <resultMap id="BaseResultMap" type="com.imooc.pojo.WorkRecord" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="author_id" property="authorId" jdbcType="VARCHAR" />
    <result column="author_name" property="authorName" jdbcType="VARCHAR" />
    <result column="head_img_url" property="headImgUrl" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="work_type" property="workType" jdbcType="TINYINT" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="work_number" property="workNumber" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content_id" property="contentId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="praise_num" property="praiseNum" jdbcType="INTEGER" />
    <result column="approve_status" property="approveStatus" jdbcType="BIT" />
  </resultMap>
</mapper>